@use '../variables' as *;


:host {
  display: block;
  min-height: 100vh;
}

.app-shell {
  min-height: 100vh;
  display: flow-root;
  background-color: $background-color-light;
  transition: background-color 0.5s ease;
}

.app-shell.dark-app {
  background-color: $background-color-dark;
}