<app-author-bar></app-author-bar>
<app-login-corner></app-login-corner>
<app-return-corner></app-return-corner>
<div class="user-container" [class.dark-mode]="darkMode()">
    @if (redirectUrl === true) {
        <div class="redirect-container">
            <p>Nie jesteś zalogowany. Przekierowuję...</p>
            <mat-spinner></mat-spinner>
        </div>
    } @else {
        <div class="user-ui">
            @switch (wasMainSettingClicked()) {
                @case (0) {
                    <div class="user-settings">
                        <div [class.user-setting-1]="wasSettingClicked() === 1"
                            [class.optionsArrayCheck]="optionsArray[0]">
                            <div (click)="clickSettings(1)">
                                {{ 'USER-SETTINGS.OPTION1' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-2]="wasSettingClicked() === 2"
                            [class.optionsArrayCheck]="optionsArray[1]">
                            <div (click)="clickSettings(2)">
                                {{ 'USER-SETTINGS.OPTION2' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-3]="wasSettingClicked() === 3"
                            [class.optionsArrayCheck]="optionsArray[2]">
                            <div (click)="clickSettings(3)">
                                {{ 'USER-SETTINGS.OPTION3' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-4]="wasSettingClicked() === 4"
                            [class.optionsArrayCheck]="optionsArray[3]">
                            <div (click)="clickSettings(4)">
                                {{ 'USER-SETTINGS.OPTION4' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-5]="wasSettingClicked() === 5"
                            [class.optionsArrayCheck]="optionsArray[4]">
                            <div (click)="clickSettings(5)">
                                {{ 'USER-SETTINGS.OPTION5' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-6]="wasSettingClicked() === 6"
                            [class.optionsArrayCheck]="optionsArray[5]">
                            <div (click)="clickSettings(6)">
                                {{ 'USER-SETTINGS.OPTION6' | translate }}
                            </div>
                        </div>
                        <div [class.user-setting-7]="wasSettingClicked() === 7"
                            [class.optionsArrayCheck]="optionsArray[6]">
                            <div (click)="clickSettings(7)">
                                {{ 'USER-SETTINGS.OPTION7' | translate }}
                            </div>
                        </div>
                    </div>
                }
                @default {
                    <div class="user-picked-setting">
                        <div class="user-close-setting-wrapper">
                            <button class="user-close-setting-button" (click)="closeCurrentSetting(); resetVariablesMatching(); resetNgModelVariables()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    @switch (wasSettingClicked()) {
                        @case (1) {
                            <div class="user-picked-setting">
                                @if (areVariablesMatching() === true && isSuccessful() === false) {
                                    <h1 class="h1-clear">{{ 'USER-SETTINGS.OPTION1-DETAILS.TITLE' | translate }}</h1>
                                } @else if (areVariablesMatching() === true && isSuccessful() === true) {
                                    <h1 class="h1-success">{{ 'USER-SETTINGS.OPTION1-DETAILS.TITLE' | translate }}</h1>
                                } @else {
                                    <h1 class="h1-error">{{ 'USER-SETTINGS.OPTION1-DETAILS.TITLE' | translate }}</h1>
                                }
                                @if (areVariablesMatching() === false) {
                                    <p class="error-message">{{ variablesErrorMessage() | translate}}</p>
                                }
                                @if (isSuccessful() === true) {
                                    <p class="error-message-success">{{ variablesErrorMessage() | translate}}</p>
                                }
                                <form (ngSubmit)="updateUserService.changeUserName(currentPassword, newUserName, confirmUserName)">
                                    <label>{{ 'USER-SETTINGS.OPTION1-DETAILS.DET1' | translate }}</label>
                                    <input [(ngModel)]="newUserName" type="text" name="newUserName" [placeholder]="'USER-SETTINGS.OPTION1-DETAILS.DET1-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION1-DETAILS.DET2' | translate }}</label>
                                    <input [(ngModel)]="confirmUserName" type="text" name="confirmUserName" [placeholder]="'USER-SETTINGS.OPTION1-DETAILS.DET2-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION1-DETAILS.DET3' | translate }}</label>
                                    <input [(ngModel)]="currentPassword" type="password" name="currentPassword" [placeholder]="'USER-SETTINGS.OPTION1-DETAILS.DET3-PLACEHOLDER' | translate">
                                    <button type="submit" (click)="resetVariablesMatching(); resetNgModelVariablesTimeout()">Submit</button>
                                </form>
                            </div>
                        }
                        @case (2) {
                            <div class="user-picked-setting">
                                @if (areVariablesMatching() === true && isSuccessful() === false) {
                                    <h1 class="h1-clear">{{ 'USER-SETTINGS.OPTION2-DETAILS.TITLE' | translate }}</h1>
                                } @else if (areVariablesMatching() === true && isSuccessful() === true) {
                                    <h1 class="h1-success">{{ 'USER-SETTINGS.OPTION2-DETAILS.TITLE' | translate }}</h1>
                                } @else {
                                    <h1 class="h1-error">{{ 'USER-SETTINGS.OPTION2-DETAILS.TITLE' | translate }}</h1>
                                }
                                @if (areVariablesMatching() === false) {
                                    <p class="error-message">{{ variablesErrorMessage() | translate}}</p>
                                }
                                @if (isSuccessful() === true) {
                                    <p class="error-message-success">{{ variablesErrorMessage() | translate}}</p>
                                }
                                <form (ngSubmit)="updateUserService.changeEmail(currentPassword, newEmail, confirmEmail)">
                                    <label>{{ 'USER-SETTINGS.OPTION2-DETAILS.DET1' | translate }}</label>
                                    <input [(ngModel)]="newEmail" type="email" name="newEmail" [placeholder]="'USER-SETTINGS.OPTION2-DETAILS.DET1-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION2-DETAILS.DET2' | translate }}</label>
                                    <input [(ngModel)]="confirmEmail" type="email" name="confirmEmail" [placeholder]="'USER-SETTINGS.OPTION2-DETAILS.DET2-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION2-DETAILS.DET3' | translate }}</label>
                                    <input [(ngModel)]="currentPassword" type="password" name="currentPassword" [placeholder]="'USER-SETTINGS.OPTION2-DETAILS.DET3-PLACEHOLDER' | translate">
                                    <button type="submit" (click)="resetVariablesMatching(); resetNgModelVariablesTimeout()">{{ 'USER-SETTINGS.OPTION2-DETAILS.BTN' | translate }}</button>
                                </form>
                            </div>
                        }
                        @case (3) {
                            <div class="user-picked-setting">
                                @if (areVariablesMatching() === true && isSuccessful() === false) {
                                    <h1 class="h1-clear">{{ 'USER-SETTINGS.OPTION3-DETAILS.TITLE' | translate }}</h1>
                                } @else if (areVariablesMatching() === true && isSuccessful() === true) {
                                    <h1 class="h1-success">{{ 'USER-SETTINGS.OPTION3-DETAILS.TITLE' | translate }}</h1>
                                } @else {
                                    <h1 class="h1-error">{{ 'USER-SETTINGS.OPTION3-DETAILS.TITLE' | translate }}</h1>
                                }
                                @if (areVariablesMatching() === false) {
                                    <p class="error-message">{{ variablesErrorMessage() | translate}}</p>
                                }
                                @if (isSuccessful() === true) {
                                    <p class="error-message-success">{{ variablesErrorMessage() | translate}}</p>
                                }
                                <form (ngSubmit)="updateUserService.changePassword(currentPassword, confirmPassword, newPassword)">
                                    <label>{{ 'USER-SETTINGS.OPTION3-DETAILS.DET1' | translate }}</label>
                                    <input [(ngModel)]="currentPassword" type="password" name="currentPassword" [placeholder]="'USER-SETTINGS.OPTION3-DETAILS.DET1-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION3-DETAILS.DET2' | translate }}</label>
                                    <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" [placeholder]="'USER-SETTINGS.OPTION3-DETAILS.DET2-PLACEHOLDER' | translate">
                                    <label>{{ 'USER-SETTINGS.OPTION3-DETAILS.DET3' | translate }}</label>
                                    <input [(ngModel)]="newPassword" type="password" name="newPassword" [placeholder]="'USER-SETTINGS.OPTION3-DETAILS.DET3-PLACEHOLDER' | translate">
                                    <button type="submit" (click)="resetVariablesMatching(); resetNgModelVariablesTimeout()">{{ 'USER-SETTINGS.OPTION3-DETAILS.BTN' | translate }}</button>
                                </form>
                            </div>
                        }
                        @case (4) {
                            <div class="user-picked-setting">

                            </div>
                        }
                        @case (5) {
                            <div class="user-picked-setting">

                            </div>
                        }
                        @case (6) {
                            <div class="user-picked-setting">

                            </div>
                        }
                        @case (7) {
                            <div class="user-picked-setting">

                            </div>
                        }
                    }
                    </div>
            }
        }
            <div class="user-info">
                <div class="user-pic-container">
                    <div class="user-pic-wrapper" 
                    [class.user-pic-wrapper-photo-existsing]="hasPhoto() === true"
                    [class.user-pic-wrapper-dark]="darkMode() && (hasPhoto() === false)">
                        <img [src]="userData()?.photoURL || './images/icons/user.png'" alt="User" draggable="false"
                        />
                    </div>
                </div>
                <div class="user-details">
                    <p>{{ 'USER-SETTINGS.USER-INFO.TITLE1' | translate }}</p>
                    <p>{{ userData()?.userName }}</p>
                    <p>{{ 'USER-SETTINGS.USER-INFO.TITLE2' | translate }}</p>
                    <p>{{ userData()?.email }}</p>
                </div>
                <div class="user-button-container">
                    <button>
                        {{ 'USER-SETTINGS.USER-INFO.BUTTON' | translate }}
                    </button>
                </div>
                <!-- Zrób tak, aby wszystko było wkłądane do bazy z opcjonalnym zdjęciem profilowym, 
                 a dopiero potem wszystkie dane są brane do jednej zmiennej jak userData np. i dopiero z tej zmiennjej
                 są ściągane do frontendu -->
            </div>
        </div>
    }  
</div>
