@use '../../variables' as *;
@use '@angular/material' as mat;

.dark-mode {
    .redirect-container {
        background-color: $secondary-color-dark !important;

        mat-spinner {
            margin-top: 5rem;
            @include mat.progress-spinner-overrides((
                active-indicator-color: $background-color-dark ,
            )); 
        }

        p {
            color: $text-color-dark !important;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }

    .user-ui {
        background-color: $secondary-color-dark !important;

        .user-picked-setting {
            background-color: $background-color-dark !important;

            .user-close-setting-wrapper {
                color: rgba(255,255,255,0.5) !important;
                filter: invert(1) !important;

                &:hover {
                    color: rgba(255,255,255,0.8) !important;
                    background-color: $secondary-color-dark !important;
                }
            }
            h1 {
                    color: $text-color-dark !important;
                }
            form {
                color: $text-color-dark !important;

                button {
                    background-color: $secondary-color-dark !important;

                    &:hover {
                        background-color: $buttons-color !important;
                    }
                }
            }
        }
        .user-settings {
            background-color: $background-color-dark !important;

            > div {
                --setting-border-color: white;
                &:last-child {
                    border: none !important;
                }
                div {
                    color: $text-color-dark !important;
                    
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2) !important;
                    }
                }
            }
            > div.optionsArrayCheck {
                flex: 0;
                min-height: 0;
                overflow: hidden !important;
                opacity: 0;
                border: none !important;
            }
        }

        .user-info {
            .user-pic-container{
                .user-pic-wrapper-dark{
                    border: 5px solid white !important;
                    img {
                        filter: invert(1) !important;
                    }
                }
                .user-pic-wrapper-photo-existing {
                    img {
                        filter: invert(0) !important;
                    }
                }
            }

            .user-details {
                p {
                    font-size: 1.5rem;
                    transition: color 0.3s ease;
                    text-align: center;
                    margin-bottom: 0.25rem;
                    color: $text-color-dark !important;

                    &:nth-child(odd) {
                        font-size: 1.2rem;
                        color: rgba(255,255,255,0.5) !important;
                    }
                    
                }
            }

            .user-button-container {
                button {
                    color: $login-button-color-dark;
                    background-color: $buttons-color;

                    &:hover {
                        background-color: $background-color-dark !important;
                    }
                }
            }
        }
    }
}


.user-container {
    box-sizing: border-box;
    display: flex;
    height: calc(100vh - $basic-padding-bottom - $basic-padding-top);
    margin-top: $basic-padding-top;
    padding: 
        2.5rem
        15rem 
        5rem
        15rem;

    .redirect-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color-light;
        width: 100%;
        border-radius: 2.5rem;
        transition: background-color 0.5s ease;

        mat-spinner {
            margin-top: 5rem;
            @include mat.progress-spinner-overrides((
                active-indicator-color: $background-color-light,
            ));
        }

        p {
            font-size: 2.5rem;
            font-weight: bold;
            transition: color 0.5s ease;
        }
    }
    .user-ui {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: $secondary-color-light;
        width: 100%;
        padding: 4rem 5rem;
        column-gap: 3rem;
        border-radius: 2rem;
        transition: background-color 0.3s ease;

        .user-settings {
            background-color: $background-color-light;
            --setting-border-color: rgba(0,0,0,0.50);
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s ease;
            border-radius: 2rem;

            .user-setting-1, .user-setting-2, .user-setting-3, .user-setting-4, .user-setting-5, .user-setting-6, .user-setting-7 {
                flex: 1;
                border: none;
                transform: scale(1.5);
                
            }
            .optionsArrayCheck {
                flex: 0;
                min-height: 0;
                overflow: hidden !important;
                opacity: 0;
                border: none !important;
            }

            > div {
                flex: 1;
                border-bottom: 1px solid var(--setting-border-color);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 
                    background-color 0.3s ease,
                    opacity 0.5s ease,
                    flex 0.5s ease, 
                    transform 0.5s ease;

                div {
                    padding: 0.5rem 2rem;
                    font-size: 1.25rem;
                    border-radius: 0.5rem;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    
                    &:hover {
                        cursor: pointer;
                        background-color: $secondary-color-light;
                    }
                }


            }
            > div:last-child {
                border: none;
            }
        }
        .user-picked-setting {
            background-color: $background-color-light;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s ease;
            width: 100%;
            border-radius: 2rem;
            position: relative;
            justify-content: center;
            align-items: center;

            .user-close-setting-wrapper {
                position: absolute;
                top: 1.25rem;
                right: 1.25rem;
                margin: 0;
                width: 2.25rem;
                height: 2.25rem;
                padding: 0;
                font-size: 1.5rem;
                color: rgba(0,0,0,0.5);
                display: flex;
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                cursor: pointer !important;
                z-index: 10000;
                transition: 
                    color 0.3s ease,
                    background-color 0.3s ease;
                

                .user-close-setting-button {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 0.25rem;
                    cursor: pointer !important;

                    mat-icon {
                        cursor: pointer;
                    }
                    
                }

                &:hover {
                    color: rgba(0,0,0,0.8);
                    background-color: rgba(0,0,0,0.1);
                }
            }
            .h1-clear {
                z-index: 9999;
                transition: color 0.3s ease;
                margin-bottom: 3rem;
            }
            .h1-error, .h1-success {
                z-index: 9999;
                transition: color 0.3s ease;
                margin-bottom: 0rem;
            }

            .error-message {
                font-size: 1rem;
                margin: 1rem 0;
                color: red;
            }
            .error-message-success {
                font-size: 1rem;
                margin: 1rem 0;
                color: rgb(0, 194, 0);
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex: 1;

                label {
                    font-size: 1.2rem;
                    margin-bottom: 0.25rem;
                    transition: color 0.3s ease;
                }
                input {
                    font-size: 1rem;
                    padding: 0.6rem 1rem;
                    margin-bottom: 1.5rem;
                    width: 50%;
                    border-radius: 0.5rem;
                    border: 1px solid rgba(0,0,0,0.5);

                    &:focus {
                        outline: none;
                    }
                }
                button {
                    margin-top: 1.5rem;
                    padding: 1rem 2rem;
                    font-size: 1.2rem;
                    background-color: $buttons-color;
                    color: #F5F5F5;
                    border: none;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: rgb(108,108,108);
                    }
                }
                .profile-picture-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 4rem;
                    border: 1px solid black;
                    margin-bottom: 1.5rem;
                    padding: 1rem;
                    overflow-y: hidden;
                    input {
                        width: 100%;
                    }

                    .profile-picture-preview {
                        max-width: 200px;
                        max-height: 200px;
                        object-fit: cover;
                    }
                }
                .profile-picture-button {
                    margin-top: 0;
                }
                .profile-picture-h1 {
                    margin-bottom: 0rem !important;
                }
                
            }
        }

        .user-info {
            display: grid;
            grid-template-rows: 2.5fr 1fr auto;
            row-gap: 1rem;

            .user-pic-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .user-pic-wrapper {
                    width: 70%;  
                    border: 5px solid black;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: border 0.3s ease;

                    &.user-pic-wrapper-photo-existing {
                        width: 300px !important;
                        height: 300px !important;       
                    }


                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: filter 0.3s ease;
                    }
                }
            }
            .user-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-bottom: 1rem;

                p {
                    font-size: 1.5rem;
                    transition: color 0.3s ease;
                    text-align: center;
                    margin-bottom: 0.25rem;

                    &:nth-child(odd) {
                        font-size: 1.2rem;
                        color: rgba(0,0,0,0.5);
                    }
                    
                }

            }
            .user-button-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 1rem;

                button {
                    font-size: 1.2rem;
                    padding: 0.7rem 0.6rem;
                    border-radius: 0.5rem;
                    transition: background-color 0.3s ease;
                    color: $login-button-2nd-color-light;
                    background-color: $buttons-color;
                    border: none;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        cursor: pointer;
                        background-color: $secondary-color-dark;
                    }
                }
            }
            
        }
    }
}
