
<div class="pop-up-con">
    @if (AMService.wasSaved()) {
        <div class="pop-up-content">
            <p class="pop-up-title">
                Wybrane obiekty zostały zapisane
            </p>
            <div class="pop-up-butt-con">
                <button class="pop-up-yes-butt" (click)="AMService.savePopUpOff()">Zamknij</button>  
                <button class="pop-up-no-butt" routerLink="/history" (click)="resetPopUp(true)">Przejdź do zapisanych</button>    
            </div>

        </div>
    }
    @if (typeOfPopUp() === 'delete') {
        <div class="pop-up-content">
            <p class="pop-up-title">
                Wybrane obiekty zostaną usunięte<br>Kontynuować?
            </p>
            <div class="pop-up-butt-con">
                <button class="pop-up-yes-butt" (click)="resetPopUp(true)">Tak</button>
                <button class="pop-up-no-butt" (click)="resetPopUp(false)">Nie</button>    
            </div>
            
        </div>
    } @else if (typeOfPopUp() === 'save') {
        <div class="pop-up-content">
            <p class="pop-up-title">
                Zapisanie wybranych obiektów
            </p>
            <p class="pop-up-subtitle">
                Wpisz nazwę nowej warstwy, aby zapisać wybrane obiekty
            </p>
            <div class="user-layer-name-con">
                <input [(ngModel)]="userLayerName" type="text" placeholder="Nazwa zapisanych obiektów..." class="user-layer-name">
            </div>
            <div class="pop-up-butt-con">
                <button class="pop-up-yes-butt" (click)="AMService.saveSelectedObjects(userLayerName)">Zapisz</button>
                <button class="pop-up-no-butt" (click)="resetPopUp(false)">Anuluj</button>    
            </div>
            
        </div>
    } @else if (typeOfPopUp() === 'login') {
        <div class="pop-up-content">
            <p class="pop-up-title">
                Zaloguj się lub zarejestruj, aby korzystać z tej funkcji
            </p>
            <div class="pop-up-butt-con">
                <button class="pop-up-yes-butt" routerLink="/login" (click)="resetPopUp(false)">Zaloguj się</button>
                <button class="pop-up-no-butt" (click)="resetPopUp(false)">Anuluj</button>    
            </div>
            
        </div>
    }
</div>
