@use '../../../variables' as *;

:host {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
}

div {
    background-color: $author-bar-color-light;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 10rem;
    transition: background-color 0.5s ease;
    
    p {
        color: $text-color-light;
        font-size: 1rem;
        transition: color 0.5s ease;
    }
}

.author-dark {
    background-color: $author-bar-color-dark;
    p {
        color: $text-color-dark;
    }
}
