<div class="info-area" (click)="setMarkerPosition($event)">
    @if (showMarker()) {
        <div class="marker"
        [style.left.px]="markerX()"
        [style.top.px]="markerY()"
        [class.marker-active-vertical]="turnMarkerUpsideDown()"
        [class.marker-active-horizontal]="turnMarkerHorizontal()"
        [class.marker-active-horizontal-vertical]="turnMarkerHorVer()">
            <div class="marker-close" (click)="showMarker.set(false)">
                <img src="/images/icons/close.png" alt="Close"/>
            </div>
            @for (layer of layerWithId(); track layer; let i = $index) {
                <div class="marker-content">
                    <p>Nazwa warstwy: {{ layer.split('.')[0] }} Id: {{ layer.split('.')[1] }}</p>
                    <p>Obiekt: {{ properties()[i]?.jpt_nazwa_}}</p>
                    <p>Y: {{ markerY() }}</p>
                </div>
            }
            
        </div>
    }
</div>