<div class="info-area">
    @if (showMarker()) {
        <div class="marker-point"
        [style.left.px]="markerX()"
        [style.top.px]="markerY()">
            <img src="/images/icons/pin.png" alt="Pin"/>
        </div>
        <div class="marker"
        [style.left.px]="markerX()"
        [style.top.px]="markerY()"
        [class.marker-active-vertical]="turnMarkerUpsideDown()"
        [class.marker-active-horizontal]="turnMarkerHorizontal()"
        [class.marker-active-horizontal-vertical]="turnMarkerHorVer()">
        @if (infoFeatures.isInfoReady()) {
            <div class="marker-header">
                <div class="marker-title-con">
                    <p class="marker-title">Informacje dotyczące warstw</p>
                </div>
                <div class="marker-close" (click)="showMarker.set(false)">
                    <img src="/images/icons/close.png" alt="Close"/>
                </div>
            </div>
            
            @for (item of sortedLayerData(); track item.layer; let i = $index) {
                <div class="marker-index">{{ (i+1) }}</div>
                <div class="marker-content">
                    <p><span class="p-bold">Warstwa:</span> {{ getLayerLabel(item.layer)}}</p>
                    <p><span class="p-bold">Id w warstwie:</span> {{ item.layer?.split('.')[1] || item.properties?.idprng }}</p>
                    <p><span class="p-bold">{{ getObjectLabel(item.layer) }}:</span> {{ item.properties?.jpt_nazwa_ || item.properties?.nazwa }}</p>
                    @if (item.properties?.liczbamies) {
                        <p><span class="p-bold">Liczba mieszkańców:</span> {{ item.properties.liczbamies }}</p>
                        <p><span class="p-bold">Powiat:</span> {{ item.properties?.powiat }}</p>
                        <p><span class="p-bold">Gmina:</span> {{ item.properties?.gmina }}</p>
                    }
                </div>
                @if (i < sortedLayerData().length - 1) {
                    <div class="separator-div"></div>
                }
            }
        } @else {
            <div class="mat-spinner-con">
                <mat-spinner></mat-spinner>
            </div>
            
        }
        </div>
    }
</div>