@use '../../../_variables.scss' as *;

.mode-dark {
    div {
        border: 1px solid $secondary-color-light !important;
        &:hover {
            background-color: $secondary-color-dark !important;
        }
        img {
            filter: invert(1);
        }
    }
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.15rem 2rem 1.15rem 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    z-index: 1000;

    div {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 50%;
        padding: 0.35rem;
        transition: background-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $secondary-color-light;
        }

        img {
            display: block;
            width: 100%;
        }
        
        .return-button {
            transform: scale(0.8);
        }
        
    }
    
}