

@if (historyService.thumbnailArray().length === 0 && historyService.isLoading() == false) {
    <div class="no-content">
        <img src="/images/icons/bored.png" alt="Bored icon" />
        <p>Brak zapisanych obiektów</p>
    </div>
} @else if (historyService.thumbnailArray().length === 0 && historyService.isLoading() == true) {
    <div class="no-content progress-spinner-con">
        <p>Ładowanie zapisanych obiektów...</p>
        <mat-spinner [diameter]="250"></mat-spinner>
        <button routerLink="/history/saved/123/456">
            Click
        </button>
    </div>
} @else {
    <div class="saved-obj-con">
        <p>Zapisane obiekty</p>
    </div>
    <div class="history-main-container">
        @for (thumbnail of historyService.thumbnailArray(); track thumbnail) {
            <div class="template-con" 
            [routerLink]="['/history/saved', thumbnail[3], thumbnail[4]]"
            [queryParams]="{userId: thumbnail[3], time: [thumbnail[4]]}">
                <div class="template">
                    <img [src]="thumbnail[0].src" [alt]="thumbnail[1]" />
                    <div class="text">
                        <p>{{ historyService.transformThumbnailType(thumbnail[2]) }}: {{ thumbnail[1] }}</p>
                    </div>
                </div>
                
            </div>
        }
    </div>
}


<div class="add-content-con">
    <p [class.arrow]="jumpingArrows()">&#8594;</p>
    <button routerLink="/geoportal">Dodaj więcej warstw</button>
    <p [class.arrow]="jumpingArrows()">&#8592;</p>
</div>
