<div class="history-inner-container" [class.dark-mode]="isDarkMode()">
    <div class="content" [class.content-none]="loginService.isLoggedIn() === false">
        @if (loginService.isLoggedIn() === false) {
            <app-redirect></app-redirect>
        } @else {
            <div class="left-content">
                @for (thumbnail of historyService.thumbnailArray(); track thumbnail; let i = $index) {
                    <div class="left-row"
                    [class.active]="historyService.selectedThumbnail() === thumbnail"
                    (click)="historyService.selectThumbnail(thumbnail[0]);
                    responseDataPresent.set(false);"
                    [routerLink]="['/history/saved', thumbnail[3], thumbnail[4]]">
                        <img alt="Thumbnail" [src]="thumbnail[0].src">
                        <div class="left-row-text">
                            <p>{{ (historyService.transformThumbnailType(thumbnail[2])) | translate }}:<br> {{ thumbnail[1] }}</p>
                        </div>
                        <div class="left-row-number">
                            <p>{{ i + 1 }}</p>
                        </div>
                    </div>
                }
            </div>
            
                <div class="right-content-loading" [style.display]="responseDataPresent() === false ? 'flex' : 'none'">
                    <p>{{ 'HISTORY.LOADING' | translate}}</p>
                    <mat-spinner diameter="100" strokeWidth="5"></mat-spinner>
                </div>

            
                <div class="right-content" [style.display]="responseDataPresent() === true ? 'grid' : 'none'">
                    <div class="right-data">
                        <div class="right-data-title">
                            <h2>{{title() || 'Error title'}}</h2>
                        </div>
                        <div>
                            <img alt="Data-Img" src="/images/icons/calendar.png">
                            <p>{{ 'HISTORY.INNER.LEFT-SECTION.CREATION-DATE' | translate }}<span>{{getDate()}}</span></p>
                        </div>
                        <div>
                            <img alt="Data-Img" src="/images/icons/layers.png">
                            <p> 
                                <span>{{(translateLayerName('layerType', responseData()?.[0]?.wkb_geometry?.type || 'HISTORY.INNER.LEFT-SECTION.LAYER-TYPES.ERROR') | translate)}}</span>
                                {{ 'HISTORY.INNER.LEFT-SECTION.CREATED' | translate }} <span>{{translateLayerName('selectionType', type())}}</span>
                                {{'HISTORY.INNER.LEFT-SECTION.LAYERFROM' | translate }}<span>{{(translateLayerName('layerFrom',currentThumbnail?.[5] || '') | translate).toLowerCase()}}</span>
                            </p>
                        </div>
                        <div>
                            <img alt="Data-Img" src="/images/icons/quantity.png">
                            <p>{{ 'HISTORY.INNER.LEFT-SECTION.NR-OBJ' | translate }}<span>{{responseData()?.length || 'Null'}}</span></p>
                        </div>
                        @if (responseData()?.[0]?.wkb_geometry?.type === 'Polygon') {
                        <!-- @if (true ) { -->
                            <div>
                                <img alt="Data-Img" src="/images/icons/place.png">
                                <p>{{ 'HISTORY.INNER.LEFT-SECTION.ALL-LOCALITIES' | translate }}<span>{{'Null'}}</span></p>
                            </div>
                            <div>
                                <img alt="Data-Img" src="/images/icons/crowd.png">
                                <p>{{ 'HISTORY.INNER.LEFT-SECTION.ALL-POPULATION' | translate }}<span>{{'Null'}}</span></p>
                            </div>
                        
                            <div>
                                <img alt="Data-Img" src="/images/icons/object.png">
                                <p>{{ 'HISTORY.INNER.LEFT-SECTION.OBJ-NAMES' | translate }}</p>
                            </div>
                            <div class="data-names">
                                @for (res of responseData(); track res) {
                                    <div>{{ res?.jpt_nazwa_ || 'Brak nazwy' }}</div>
                                }
                            </div>
                        }
                    </div>
                    <div class="right-thumbnail">
                        <div class="right-thumbnail-this">
                            <div class="right-thumbnail-title">
                                <h3>{{ 'HISTORY.INNER.RIGHT-SECTION.MAP-TITLE' | translate }}</h3>
                            </div>
                            <div id="thumbnail-map"></div>
                        </div>
                        <div class="right-thumbnail-export">
                            <button>{{ 'HISTORY.INNER.RIGHT-SECTION.EXPORT-BUTTON' | translate }}</button>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
