<div class="main" animate.enter="enter-animation">
    <div class="content-wrapper">
        <div class="title" [style.justify-content]="objectSelection.analysysPicked() ? 'start' : 'center'">
            @if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() !== 'none') {
                <button class="analysys-return" (click)="objectSelection.analysisDeactive(); objectSelection.clearAllSelectedVariables()" [style.display]="objectSelection.analysysPicked() ? 'block' : 'none'">&#8635;</button>
            } @else {
                <button class="analysys-return" (click)="objectSelection.analysisDeactive();" [style.display]="objectSelection.analysysPicked() ? 'block' : 'none'">&#8635;</button>
            }
            
            <p>{{objectSelection.toolPicked() !== 'Błąd' ? objectSelection.toolPicked() : 'Narzędzie analiz'}}</p>
        </div>
        <section class="content-section">
            @if (objectSelection.analysysPicked() === false && objectSelection.analysisNrPicked() === 'none') {
                <div class="info">
                    <p>Wybierz typ analiz:</p>
                </div>
                <section class="butt-section">
                    <button (click)="objectSelection.pickAnalysys('attribute'); objectSelection.analysisActive();">Analiza atrybutowa</button>
                    <button (click)="objectSelection.pickAnalysys('spatial'); objectSelection.analysisActive();">Analiza przestrzenna</button>
                    <button (click)="objectSelection.pickAnalysys('selection'); objectSelection.analysisActive();" class="selection-button">Zaznaczanie obiektów</button>
                </section>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'attribute') {
                <div class="info">
                    <p>Analiza atrybutowa</p>
                    <button>createLayer</button>
                    <!-- Wybierz (obiekty/coś innego) z warstwy... które w kolumnie (wybór kolumn) mają/nie mają itd (wybór 30 tak samo jak w wyszukiwarce)-->
                    <!-- Wybierz obiekty z warstwy  (warstwa), które (opcje do wybrania) wewnątrz/poza itd (warstwa2) -->
                    <input [value]="inputText()" placeholder="Wpisz nazwę warstwy" (input)="inputText.set($event.target.value)">
                    <button (click)="userCreation(inputText(), 'createWorkspace')">createWorkspace</button>
                    <button (click)="userCreation(inputText(), 'createDatastore')">createDatastore</button>
                    <button (click)="userCreation(inputText(), 'createTempWorkspace')">createTempWorkspace</button>
                    <button (click)="userCreation(inputText(), 'createTempDatastore')">createTempDatastore</button>
                    <p>`{{ inputText() }}`</p>
                </div>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'spatial') {
                <div class="info">
                    Spatial
                </div>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'selection') {
                <div class="info">
                    <p>Kliknij na mapę, aby zaznaczyć obiekt</p>
                    <p>Warstwa do zaznaczenia: </p>
                    <select (change)="objectSelection.onLayerSelectChange($any($event.target).value)" [value]="objectSelection.selectedSelectOptionLayer()">
                        <option value="" disabled selected>Wybierz warstwę</option>
                        @for (layer of objectSelection.visibleMapLayers(); track layer) {
                            <option value="{{layer.values_.layerKey}}">{{layer.values_.layerKey}}</option>
                        }
                    </select>
                    <p>Zaznaczono: {{objectSelection.selectedNumberOfObjects()}}</p>
                    @for (object of objectSelection.selectedObjects(); track object) {
                        <p>{{object.features[0].properties.jpt_nazwa_}}</p>
                    }
                    <button (click)="objectSelection.clearAllSelectedVariables()">Wyczyść</button>
                    
                </div>
            }
            
        </section>
        
    </div>
</div>