<div class="main" animate.enter="enter-animation">
    <div class="content-wrapper">
        <div class="title" [style.justify-content]="objectSelection.analysysPicked() ? 'start' : 'center'">
            @if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() !== 'none') {
                <button class="analysys-return" (click)="objectSelection.analysisDeactive(); objectSelection.clearAllSelectedVariables()" [style.display]="objectSelection.analysysPicked() ? 'block' : 'none'">&#8635;</button>
            } @else {
                <button class="analysys-return" (click)="objectSelection.analysisDeactive();" [style.display]="objectSelection.analysysPicked() ? 'block' : 'none'">&#8635;</button>
            }
            
            <p>{{objectSelection.toolPicked() !== 'Błąd' ? objectSelection.toolPicked() : 'Narzędzie analiz'}}</p>
        </div>
        <section class="content-section">
            @if (objectSelection.analysysPicked() === false && objectSelection.analysisNrPicked() === 'none') {
                <div class="info">
                    <p>Wybierz typ analiz:</p>
                </div>
                <section class="butt-section">
                    <button (click)="objectSelection.pickAnalysys('attribute'); objectSelection.analysisActive();">Analiza atrybutowa</button>
                    <button (click)="objectSelection.pickAnalysys('spatial'); objectSelection.analysisActive();">Analiza przestrzenna</button>
                    <button (click)="objectSelection.pickAnalysys('selection'); objectSelection.analysisActive();" class="selection-button">Zaznaczanie obiektów</button>
                </section>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'attribute') {
                <div class="info">
                    <p>Analiza atrybutowa</p>
                    <button>createLayer</button>
                    <!-- Wybierz (obiekty/coś innego) z warstwy... które w kolumnie (wybór kolumn) mają/nie mają itd (wybór 30 tak samo jak w wyszukiwarce)-->
                    <!-- Wybierz obiekty z warstwy  (warstwa), które (opcje do wybrania) wewnątrz/poza itd (warstwa2) -->
                    <input [value]="inputText()" placeholder="Wpisz nazwę warstwy" (input)="inputText.set($event.target.value)">
                    <button (click)="userCreation(inputText(), 'createWorkspace')">createWorkspace</button>
                    <button (click)="userCreation(inputText(), 'createDatastore')">createDatastore</button>
                    <button (click)="userCreation(inputText(), 'createTempWorkspace')">createTempWorkspace</button>
                    <button (click)="userCreation(inputText(), 'createTempDatastore')">createTempDatastore</button>
                    <p>`{{ inputText() }}`</p>
                </div>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'spatial') {
                <div class="info">
                    Spatial
                </div>
            } @else if (objectSelection.analysysPicked() === true && objectSelection.analysisNrPicked() === 'selection') {
                <div class="info">
                    <p class="hand-info">Kliknij na mapę, aby zaznaczyć obiekt</p>
                    <p class="hand-layer-info">Warstwa do zaznaczenia: </p>
                    <select class="hand-select" (change)="objectSelection.onLayerSelectChange($any($event.target).value); objectSelection.clearAllSelectedVariables()" [value]="objectSelection.selectedSelectOptionLayer()">
                        <option value="" disabled selected>-- Wybierz warstwę --</option>
                        @for (layer of objectSelection.visibleMapLayers(); track layer) {
                            <option value="{{layer.values_.layerKey}}">{{ 'GEOPORTAL.INFO-CONTENT.' + objectSelection.layerTranslations[layer.values_.layerKey] | translate }}</option>
                        
                        }
                    </select>
                    <p class="hand-selected-nr">Zaznaczono: <span class="hand-selected-nr-span">{{objectSelection.selectedNumberOfObjects()}}</span></p>
                    <div class="hand-selected-all-obj">
                        @for (object of objectSelection.selectedObjects(); track object) {
                            <div class="hand-selected-obj-con">
                                <div class="hand-selected-obj-text">
                                    @if (object.features[0].properties.jpt_nazwa_ !== undefined) {
                                        @switch (object.features[0].properties.jpt_sjr_ko) {
                                            @case ('PAN') {
                                                <p class="hand-selected-obj-title">Państwo</p>
                                                <p class="hand-selected-obj">{{object.features[0].properties.jpt_nazwa_}}</p>
                                            } @case ('WOJ') {
                                                <p class="hand-selected-obj-title">Województwo</p>
                                                <p class="hand-selected-obj">{{object.features[0].properties.jpt_nazwa_}}</p>
                                            } @case ('POW') {
                                                <p class="hand-selected-obj-title">Powiat</p>
                                                <p class="hand-selected-obj">{{object.features[0].properties.jpt_nazwa_}}</p>
                                            } @case ('GMI') {
                                                <p class="hand-selected-obj-title">Gmina</p>
                                                <p class="hand-selected-obj">{{object.features[0].properties.jpt_nazwa_}}</p>
                                            } @case ('JEW') {
                                                <p class="hand-selected-obj-title">Miasto</p>
                                                <p class="hand-selected-obj">{{object.features[0].properties.jpt_nazwa_}}</p>
                                            }
                                        }
                                    } @else {
                                        <p class="hand-selected-obj-title">Miejscowość</p>
                                        <p class="hand-selected-obj">{{object.features[0].properties.nazwa}} &#8212; {{object.features[0].properties.rodzaj}} </p>
                                    }
                                </div>
                                <div class="hand-selected-obj-del">
                                    <button class="hand-selected-obj-del-butt">
                                        <img src="/images/icons/decline.png" alt="Delete" draggable="false" (click)="deleteObjFromSelection(object.features[0].id)"/>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                            
                    
                    <div class="hand-buttons">
                        <button (click)="objectSelection.clearAllSelectedVariables()">Wyczyść wybrane</button>
                        <!-- dodaj handling zapisu analizy - później przechodzi do user data z home -->
                        <button>Zapisz analizę</button>
                    </div>
                    
                </div>
            }
            
        </section>
        
    </div>
</div>