$background-color-light: #bcbcbc;
$secondary-color-light: #d9d9d9;
$author-bar-color-light: #7d7d7d;
$text-color-light: #000000;
$searchdata-1st-color-light: #979797;
$searchdata-2nd-color-light: #d9d9d9;

$login-button-1st-color-light: #303030;
$login-button-2nd-color-light: #F5F5F5;

$background-color-dark: #3b3b3b;
$secondary-color-dark: #6C6C6C;
$author-bar-color-dark: #252525;
$text-color-dark: #FFFFFF;
$searchdata-1st-color-dark: #6C6C6C;
$searchdata-2nd-color-dark: #979797;

$login-button-color-dark: #F5F5F5;

$buttons-color: #2C2C2C;

$text-font-family: 'Roboto Flex', sans-serif;