@use './variables' as *;

html,
body {
    min-height: 100%;
    margin: 0;
    background-color: $background-color-light;
    color: $text-color-light;
    font-family: $text-font-family;
}

p {
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}