<app-geoportal-headbar></app-geoportal-headbar>
<app-return-corner></app-return-corner>
<app-map-component></app-map-component>
<app-author-bar></app-author-bar>
@if (AMservice.headbarKeys.analysys) {
    <app-analysys-component></app-analysys-component>
}
@if (AMservice.headbarKeys.measure) {
    <app-measure-component></app-measure-component>
}
@if (zoomService.isHighlightedService()) {
    <app-search-close></app-search-close>
}
    <!-- @if (true) {
        <app-search-close></app-search-close>
    } -->
