@use '../../../../variables' as *;

#map {
    width: 100%;
    height: calc(100vh - $basic-padding-top);

    &.selection-active {
        cursor: cell;
    } 
    &:active {
        cursor: grabbing !important;
    }
}